@import '../../node_modules/github-markdown-css/github-markdown'
@import '../../node_modules/highlight.js/styles/github'
@import './markdown'

+body-slide-mode
  font-size: 91.25%

  .slide_wrapper > .slide
    padding: 0 78.5px
    justify-content: center

  .slide_page
    font-size: 24px
    color: #777
    text-shadow: 0 1px 5px #fff

  .markdown-body
    font-family: 'A-OTF UD Shin Go Pro', 'Noto Sans Japanese', 'Kozuka Gothic Pr6N', 'Kozuka Gothic Pro', 'Meiryo UI', 'Meiryo', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
    font-size: 29px

    tt, code
      font-family: 'SourceHanCodeJP-Normal', 'Ricty', Consolas, "Liberation Mono", Menlo, Courier, monospace

    h1
      font-size: 1.6em
      color: #246
      border-bottom: none
    h2
      font-size: 1.3em
      border-bottom: none
    h3
      font-size: 1.1em
    h4
      font-size: 1.05em
    h5
      font-size: 1em
    h6
      font-size: 0.9em

    pre
      border: 1px solid #999
      line-height: 1.15
